html, body {
	background: #FFFFFF;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@font-face{ 
    font-family: "SansationLight";
    src: url("font/SansationLight.ttf") format("truetype");
}

*{ 
    font-family: 'SansationLight';
}

.logo{
	margin-top: 25em;
}

.wiki{
	text-transform: uppercase;
}

.authoriz{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #72778E;
	flex-direction: column;
}

.entr-log , .entr-pwd{
	padding: 12px 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #72778E;
	box-sizing: border-box;
	width: 540px;
	height: 48px;
	border-radius: 6px;
	border: 1px solid #E3E4E8;
}

.field-1 , .field-2{
	box-sizing: border-box;
	width: 588px;
	height: 123px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 9px;
	border: 1px solid #F8F8F8;
	box-shadow: 0px -11px 120px #F8F8F8;
	margin: 4% auto;
}

.log , .pwd{
	margin: 0em;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #72778E;
}

.btn{
	gap: 8px;
	width: 383px;
	height: 50px;
	background: #5200FF;
	border-radius: 4px;
	margin: 2% auto;
	cursor: pointer;
}

.enter{
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
}

.itc {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #72778E;
}
.botm{
	width: 100%;
	height: 64px;
	box-shadow: 0px -16px 120px #F8F8F8;
	margin-top: 10em;
}



